{% extends 'front.html.twig' %}

{% block body %} 
    <div class="site-wrapper-reveal">
        <div class="bg-white">
            <div class="about-banner-wrap banner-space bg-img" data-bg="{{ asset('assets/images/bg/business-solution-hero-bg.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                            <div class="about-banner-content text-center">
                                <h1 class="mb-15 text-white">Qui sommes nous?</h1>
                                <!-- h5 class="font-weight--normal text-white">Reach out to the world’s most reliable IT services.</!-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===========  feature-large-images-wrapper  Start =============-->
            <div class="feature-large-images-wrapper section-space--ptb_100">
                <div class="container">
                    <div class="cybersecurity-about-box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="conact-us-wrap-one managed-it">
                                    <h5 class="heading ">Développer toutes sortes de <span class="text-color-primary"> solutions capables d’améliorer les performances</span> des entreprises ivoiriennes en vue de les rendre compétitives</h5>
                                </div>
                            </div>
                            <div class="col-lg-7 offset-lg-1">
                                <div class="cybersecurity-about-text">
                                    <div class="text"> 
                                    <h5 class="text-color-primary">ITwebson</h5> C'est plus que de la simple conception de site web; c'est un guichet unique pour toutes vos solutions Web en Côte d’Ivoire, de l'élaboration de stratégies Internet à la création de site Web, en passant  par le référencement sur les moteurs de recherche et le marketing Web. 
                                    </div>
                                    <div class="text"> 
                                    Notre équipe de consultants et d'analystes Web sera en mesure de vous accompagner et de vous conseiller efficacement dans votre projet de création de site Internet, en établissant dès le départ une stratégie Web orientée vers vos objectifs d'affaires et conçue sur mesure en fonction de votre cible.
                                    </div>
                                    <div class="button-group-wrap">
                                        <a href="#vision" class="ht-btn ht-btn-md ht-btn--solid mr-md-3 mb-20">Notre Vision</a>
                                        <!-- a href="#" class="ht-btn ht-btn-md ht-btn--solid">Notre Approche</!-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--========= About Delivering Wrapper Start ===========-->
            <div class="about-delivering-wrapper bg-gray section-space--ptb_100" id="vision">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-wrap text-center section-space--mb_20">
                                <h3 class="heading">Notre Vision</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="delivering-optimal-wrap">
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title"> Concevoir </h5>
                                        <div class="desc"> des sites et application web personnalisés (valeurs, besoins et moyens).</div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title"> Développer </h5>
                                        <div class="desc">toutes sortes de solutions capables d’améliorer les performances des entreprises ivoiriennes en vue de les rendre compétitives. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="delivering-optimal-wrap">
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title"> Augmenter </h5>
                                        <div class="desc"> la visibilité du support web des promoteurs et le trafic de leurs sites.</div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="marker"></div>
                                    <div class="title-wrap">
                                        <h5 class="title">Assister</h5>
                                        <div class="desc">Techniquement en vue de les aider à obtenir plus de ventes et à améliorer l’image de leur business ou compagnie  
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--========= About Resources Wrapper End ===========-->

            <!--====================  testimonial section ====================
            <div class="testimonial-slider-area section-space--pt_100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-wrap text-center section-space--mb_40">
                                <h6 class="section-sub-title mb-20">Testimonials</h6>
                                <h3 class="heading">What do people praise about <span class="text-color-primary"> Mitech?</span></h3>
                            </div>
                            <div class="testimonial-slider">
                                <div class="swiper-container testimonial-slider__container">
                                    <div class="swiper-wrapper testimonial-slider__wrapper">
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__one wow move-up">

                                                <div class="testimonial-slider--info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="{{ asset('assets/images/testimonial/mitech-testimonial-avata-02-90x90.jpg') }}" class="img-fluid" alt="">
                                                    </div>

                                                    <div class="testimonial-slider__author">
                                                        <div class="testimonial-rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                        <div class="author-info">
                                                            <h6 class="name">Abbie Ferguson</h6>
                                                            <span class="designation">Marketing</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__one wow move-up">

                                                <div class="testimonial-slider--info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="{{ asset('assets/images/testimonial/mitech-testimonial-avata-03-90x90.jpg') }}" class="img-fluid" alt="">
                                                    </div>

                                                    <div class="testimonial-slider__author">
                                                        <div class="testimonial-rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                        <div class="author-info">
                                                            <h6 class="name">Monica Blews</h6>
                                                            <span class="designation">Web designer</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__one wow move-up">

                                                <div class="testimonial-slider--info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="{{ asset('assets/images/testimonial/mitech-testimonial-avata-04-90x90.jpg') }}" class="img-fluid" alt="">
                                                    </div>

                                                    <div class="testimonial-slider__author">
                                                        <div class="testimonial-rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                        <div class="author-info">
                                                            <h6 class="name">Abbie Ferguson</h6>
                                                            <span class="designation">WEB DESIGNER</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__one wow move-up">

                                                <div class="testimonial-slider--info">
                                                    <div class="testimonial-slider__media">
                                                        <img src="{{ asset('assets/images/testimonial/mitech-testimonial-avata-01-90x90.jpg') }}" class="img-fluid" alt="">
                                                    </div>

                                                    <div class="testimonial-slider__author">
                                                        <div class="testimonial-rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                        </div>
                                                        <div class="author-info">
                                                            <h6 class="name">Abbie Ferguson</h6>
                                                            <span class="designation">WEB DESIGNER</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div -->

            <!--====================  brand logo slider area ====================-->
            <div class="brand-logo-slider-area section-space--ptb_60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- brand logo slider -->
                            <div class="brand-logo-slider__container-area">
                                <div class="swiper-container brand-logo-slider__container">
                                    <div class="swiper-wrapper brand-logo-slider__one">
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-01.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-01-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-02.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-02-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-03.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-03-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-04.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-04-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-05.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-05-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-06.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-06-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-07.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-07-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-08.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-08-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide brand-logo brand-logo--slider">
                                            <a href="#">
                                                <div class="brand-logo__image">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-09.png') }}" class="img-fluid" alt="">
                                                </div>
                                                <div class="brand-logo__image-hover">
                                                    <img src="{{ asset('assets/images/brand/mitech-client-logo-09-hover.png') }}" class="img-fluid" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}