{% extends 'front.html.twig' %}

{% block body %}
    <div class="site-wrapper-reveal">
        <!--============ Resolutions Hero Start ============-->
        <div class="resolutions-hero-slider position-relative">
            <div class="swiper-container hero-slider__container">
                <div class="swiper-wrapper testimonial-slider__wrapper">
                    {% for item in slides %}
                        <div class="swiper-slide">
                            <div class="service-hero-wrapper resolutions-hero-space resolutions-hero-bg{% if loop.index > 1 %}-{{ loop.index }}{% endif %}" data-swiper-autoplay="5000">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                                            <div class="service-hero-wrap wow move-up">
                                                <div class="service-hero-text text-center">
                                                    {# <h3 class="text-white">Votre guichet unique</h3> #}
                                                    <h1 class="font-weight--reguler text-white mb-30">{{ item.titre }} </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="vc_row-separator center_curve_alt bottom">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100">
                    <path d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"></path>
                </svg>
            </div>
        </div>

        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-images-wrapper bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__five resolutions-hero-bottom">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-05 style-05b">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-02-100x98.png") }}" alt="">
                                                </div>
                                                <div class="hover-images">
                                                    <img class="img-fulid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-02-hover-100x98.png") }}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">{{  activities[1].titre }}</h5>
                                                <div class="text">{{  activities[1].texteIntroduction|length > 50 ? activities[1].texteIntroduction|striptags|slice(0, 100) ~ '...' : activities[1].texteIntroduction|raw }}</div>
                                                <div class="box-images-arrow">
                                                    <a href="{{ path('it_solutions') }}">
                                                        <span class="button-text">Savoir plus</span>
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-05 style-05a">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fluid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-01-100x98.png") }}" alt="">
                                                </div>
                                                <div class="hover-images">
                                                    <img class="img-fluid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-01-hover-100x98.png") }}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">{{  activities[0].titre }} </h5>
                                                <div class="text">{{  activities[0].texteIntroduction|length > 50 ? activities[0].texteIntroduction|striptags|slice(0, 150) ~ '...' : activities[0].texteIntroduction|raw }}</div>
                                                <div class="box-images-arrow">
                                                    <a href="{{ path('it_solutions') }}">
                                                        <span class="button-text">Savoir plus</span>
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-05 style-05c">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-03-100x98.png") }}" alt="">
                                                </div>
                                                <div class="hover-images">
                                                    <img class="img-fulid" src="{{ asset("assets/images/icons/mitech-home-resolutions-box-image-03-hover-100x98.png") }}" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">{{  activities[2].titre }}</h5>
                                                <div class="text">{{  activities[2].texteIntroduction|length > 50 ? activities[2].texteIntroduction|striptags|slice(0, 100) ~ '...' : activities[2].texteIntroduction|raw }}</div>
                                                <div class="box-images-arrow">
                                                    <a href="{{ path('it_solutions') }}">
                                                        <span class="button-text">Savoir plus</span>
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-under-heading text-center section-space--mt_80"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--====================  Conact us Section Start ====================-->
        <div class="contact-us-section-wrappaer processing-contact-us-bg section-space--ptb_120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-lg-6">
                        <div class="conact-us-wrap-one">
                            <h3 class="heading text-white">{{  section[0].titre }}</h3>
                            <div class="sub-heading text-white">{{  section[0].content|raw }}</div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6">
                        <div class="contact-info-two text-center">
                            <h6 class="heading font-weight--reguler">RENDEZ-VOUS MAINTENANT !</h6>
                            <div class="contact-us-button mt-20">
                                <a href="{{ path('contact') }}" class="btn btn--secondary">Contacter nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=========== About Company Area Start ==========-->
        <div class="software-innovation-about-company-area software-innovation-about-bg section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-inner-video-section">
                            <img class="img-fluid border-radus-5" src="{{ asset('images/' ~ section[1].image) }}" alt="{{ section[1].alt }}">
                        </div>
                    </div>
                    <div class="col-lg-6 ms-auto mt-30">
                        <div class="machine-learning-about-content">
                            <div class="section-title mb-20">
                                <!-- section-title-wrap Start -->
                                <div class="section-title-wrap text-left section-space--mb_30">
                                    <h6 class="section-sub-title mb-20">{{  section[1].subtitre }}</h6>
                                    <h3 class="heading">
                                        {{ section[1].titre |raw }}
                                    </h3>
                                </div>
                                <p class="dec-text mt-20">{{ section[1].content |raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading text-white">{{ section[2].titre |raw }}
                            </h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--one text-center">
                            <a href="{{ path('about_us') }}" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Obtenir plus d'infos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====================  brand logo slider area ====================-->
        <div class="brand-logo-slider-area section-space--ptb_60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- brand logo slider -->
                        <div class="brand-logo-slider__container-area">
                            <div class="swiper-container brand-logo-slider__container">
                                <div class="swiper-wrapper brand-logo-slider__one">
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        {# <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="{{ asset("assets/images/brand/mitech-client-logo-07.png") }}" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="{{ asset("assets/images/brand/mitech-client-logo-07-hover.png") }}" class="img-fluid" alt="">
                                            </div>
                                        </a> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}